body {font-family: Verdana, Geneva, sans-serif;}

h1 {font-weight: 900;}

#bizcanvas td {
  vertical-align: top;
  height: 340px;
  width: 200px;
  padding: 6px;
}


#bizcanvas h4 {
  font-weight: 700;
  font-size: 1em;
}

#bizcanvas h5 {
  font-weight: 700;
  font-size: 0.7em;
}

#bizcanvas p {
  font-weight: 300;
  font-size: 1em;
}

/*start add plus button*/
.fa-plus {
     color: #999;
}

.fa-plus:hover {
     color: #777;
     cursor: pointer;
}
 .fa-close {
      cursor: pointer;
}
.activities, #Values, #relations, #resources, #chaneels, #costs, #revs{
  display: none;
  max-width: 200px !important;
  word-wrap: break-word;
}

.costs, .revs{
  height: 200px !important;
}
.keyInfo,
.valueInfo,
.RelationInfo,
.ResourceInfo,
.ChaneelInfo,
.CostInfo,
.RevInfo {
  background-color: #f1f1f1;
}


.keyInfo .keyTitle h6,
.valueInfo .valueTitle h6,
.RelationInfo .RelationTitle h6,
.ResourceInfo .ResourceTitle h6,
.ChaneelInfo .ChaneelTitle h6,
.CostInfo .CostTitle h6,
.RevInfo .RevTitle h6 {
     font-size: 15px;
     font-weight: bold;
     color: #434A48;
     padding: 0 7px
}

.keyInfo span,
.valueInfo span,
.RelationInfo span,
.ResourceInfo span,
.ChaneelInfo span,
.CostInfo span,
.RevInfo span {
     color: #434A48;
     padding: 0 5px;
     line-height: 2.5
}

.keyInfo span .fa,
.valueInfo span .fa,
.RelationInfo span .fa,
.ResourceInfo span .fa,
.ChaneelInfo span .fa,
.CostInfo span .fa,
.RevInfo span .fa {
     color: #999;
}

.keyInfo span .fa:hover,
.valueInfo span .fa:hover,
.RelationInfo span .fa:hover,
.ResourceInfo span .fa:hover,
.ChaneelInfo span .fa:hover,
.CostInfo span .fa:hover,
.RevInfo span .fa:hover {
     color: #777;
     cursor: pointer;
}

.keyInfo .editKey,
.keyInfo .editKeyDesc,
.valueInfo .editvalue,
.valueInfo .editValueDesc,
.RelationInfo .editRelation,
.RelationInfo .editRelationDesc,
.ResourceInfo .editResource,
.ResourceInfo .editResourceDesc,
.ChaneelInfo .editChaneel,
.ChaneelInfo .editChaneelDesc,
.CostInfo .editCost,
.CostInfo .editCostDesc,
.RevInfo .editRev,
.RevInfo .editRevDesc {
     display: none;
}


.keyInfo .keyDesc p,
.valueInfo .valueDesc p,
.RelationInfo .RelationDesc p,
.ResourceInfo .ResourceDesc p,
.ChaneelInfo .ChaneelDesc p,
.CostInfo .CostDesc p,
.RevInfo .RevDesc p {
     font-size: 20px;
     font-weight: bold;
     color: #777;
     padding: 0 7px 7px;
}

.searchBox{
  border-color: #aaa;
}
.searchAjax {

  background: #fff;
  width: 460px;
  border: 1px solid #7bb73d;

  display: none;
  border-radius: 4px;
}

.searchAjax .fullName{
  padding: 10px 0 0 10px;
  font-size: 15px;
  color: #555;
}

.searchAjax .num,
.searchAjax .email,
.searchAjax .job,
.searchAjax .Desc{
  font-size: 13px;
  color: #666;
  margin: 10px;
  padding: 3px;
}

.userInfo {
  margin: 20px;
  border-bottom: 1px solid #aaa;
}
.userInfo:last-child {
  border-bottom: none;
}
.back span {
     margin: 20px;
     color: #f4f4f4;
     display: none;
}
.companies {

  background: #fff;
  width: auto;
  border: 1px solid #fff;
  /*display: none;*/
  border-radius: 4px;
}

.companies .fullName{
  padding: 10px 0 0 10px;
  font-size: 15px;
  color: #555;
}

.companies .num,
.companies .email,
.companies .job,
.companies .Desc {
  font-size: 13px;
  color: #666;
  margin: 10px;
  padding: 3px;
}

h4 {
  float: left;
}

.active {
  background-color: #337ab7;
  color: #fff;
}

.hr {
  height: 50px;
}

.requestBtn {
  margin-top: 20px;
  margin-right: 20px;
}
